.shirtsSection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
} 

.heading {
    color: black;  
    font-family: 'Fredoka', sans-serif;
    padding: 2rem 0;
    font-size: 4rem;
}


.shirtsContainer {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        flex-direction: column;
     }
}

.fitImg {
    height: 300px;
    
}

.shirtPageName {
    color: black;
}