.pantsSection {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
} 

.heading {
    color: black;  
    font-family: 'Fredoka', sans-serif;
    padding: 2rem 0;
    font-size: 4rem;
}


.pantsContainer {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fitImg {
    height: 300px;
    
}

@media(max-width:676px) {
    .pantsSection {
        height: 100%;
    }
}