.PromotionSection {
height: 20vh;
}


.PromotionContainer {
    background-image: url("/promopic.png");
    background-size: cover;
   height: 30vh;
   background-position: 50% 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.promoHead {
    font-size: 5rem;
    font-family: 'Fredoka', sans-serif;
    z-index: 10;
}

.PromotionOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Span the entire width of the container */
    height: 100%; /* Span the entire height of the container */
    background-color: rgba(0, 0, 0, 0.564); /* Semi-transparent black */
    /* Adjust the opacity as needed */
}

@media(max-width: 676px) {
    .PromotionSection{
        display: none;
    }
       
}