/* Navbar.module.scss */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$primary-color: #5ca7f6;
$hover-color: #53aef9;
$active-color: rgb(188, 87, 242);
$navbar-background: #000000;
$text-color: #ffffff;

.logo {
    margin-top: 20px;
    height: 120px;
    width: 220px;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: $navbar-background;
    color: $text-color;
    
}

.nav {
    
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 676px) {
        display: none;
       
    }
}

.nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $navbar-background;
    
    
}

.navItem {
    color: $text-color;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Archivo Black', sans-serif;
    &:hover {
        color: $hover-color;
    }
    &:active {
        background-color: $active-color;
        
    }
}

.closeBtn, .menuBtn {
    display: none;
    @media (max-width: 676px) {
        display: flex;
    }
}

.closeBtn {
    @media (max-width: 676px) {
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30px;
        left: 30px;
        background-color: white;
        color: $primary-color;
        border: none;
        border-radius: 5px;
    }
}

.menuBtn {
    @media (max-width: 676px) {
        background-color: black;
        color: $primary-color;
        border: none;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        
    
    }

    
}

.cart {
    @media (max-width: 676px) {
        visibility: hidden;
        
    
    }

    
}

.CartBtn {
   background-color: black;
   border: none;
}

.MobileBtn {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
