

.productSection {
background-color: white;
display: flex;
flex-direction: row;
align-items: center;

justify-content: space-around;
height: 90vh;
}


.NameContainer {
display: flex;
flex-direction: column;
gap: 10px;
}

.ImageContainer {

}

.InfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
    font-family: 'Fredoka', sans-serif;
   
}

.sizeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sizeHead {
    color: black;
    font-size: 2rem;
    font-family: 'Fredoka', sans-serif;
}

.sizes {
    display: flex;
    justify-content: space-around;
    gap: 15px;
   

}

.small {
    border: 2px rgb(57, 121, 248) solid;
    background-color: transparent;
color: black;
padding: 0.5rem 1rem;
border-radius: 20px;
font-family: 'Fredoka', sans-serif;
font-size: 1.5rem;
cursor: pointer;

&:hover {
    background-color: rgb(57, 121, 248);
}
}

.medium {
    border: 2px rgb(57, 121, 248) solid;
    background-color: transparent;
color: black;
padding: 0.5rem 1rem;
border-radius: 20px;
font-family: 'Fredoka', sans-serif;
font-size: 1.5rem;
cursor: pointer;

&:hover {
    background-color: rgb(57, 121, 248);
}
}

.large {
    border: 2px rgb(57, 121, 248) solid;
    background-color: transparent;
color: black;
padding: 0.5rem 1rem;
border-radius: 20px;
font-family: 'Fredoka', sans-serif;
font-size: 1.5rem;
cursor: pointer;

&:hover {
    background-color: rgb(57, 121, 248);
}
}

.CheckoutContainer {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}


.CartContainer {
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.CheckContainer {
    border: 2px rgb(57, 121, 248) solid;
    background-color: rgb(57, 121, 248);
color: black;
padding: 0.5rem 1rem;
border-radius: 20px;
font-family: 'Fredoka', sans-serif;
font-size: 1.8rem;
cursor: pointer;
transition: transform 0.5s ease-in-out; // Increased duration
 transform: translate3d(0, 0, 0);

 &:hover {
    transform: scale(1.1);
    
  
}
}

.ATCContainer {
    border: 2px rgb(61, 164, 238) solid;
    background-color: rgb(255, 255, 255);
color: black;
padding: 0.5rem 1rem;
border-radius: 20px;
font-family: 'Fredoka', sans-serif;
font-size: 1.8rem;
transition: transform 0.5s ease-in-out; // Increased duration
 transform: translate3d(0, 0, 0);
 cursor: pointer;

&:hover {
    transform: scale(1.1);
    
  
}
} 



.sizeSelected {
    background-color: rgb(99, 147, 244);
  }






.name {
color: black;
font-family: 'Fredoka', sans-serif;
font-size: 4rem;
}



.ProductImage {
    height: 700px;
    width: 700px;
    
}

.description {
    color: rgb(0, 0, 0);
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
}

.price {
    color: rgb(57, 121, 248);
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5rem;
}


.alert {
    position: fixed; /* or 'absolute' */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 300px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
}

.alertText {
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
}

.alertBtn {
height: 50px;
width: 100px;
border-radius: 20px;
background-color: transparent;
border: solid 4px rgb(111, 158, 220);
transition: transform 0.3s ease-in-out; // Increased duration
 transform: translate3d(0, 0, 0);
 cursor: pointer;
 font-size: 1.4rem;
 font-family: 'Fredoka', sans-serif;

 &:hover {
    transform: scale(1.1);
    
  
}
}