

.productSection {
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.name {
color: black;
font-family: 'Fredoka', sans-serif;
}


.image {
    height: 500px;
    width: 500px;
}

.description {
    color: rgb(0, 0, 0);
    font-family: 'Fredoka', sans-serif;

}

.price {
    color: black;
    font-family: 'Fredoka', sans-serif;
   
}
