

.clothingSection {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 350px;
}

.clothingItem {
    width: calc(25% - 10px); /* Adjust the 10px for margins as needed */
    margin: 5px; /* Half of the subtracted value to ensure spacing */
    box-sizing: border-box;
}

.heading {
    text-align: center;
    width: 100%;
}


