


.clothesCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.name {
    font-family: 'Fredoka', sans-serif;
    color: black !important;
    margin-top: 4px;
}

.price {
    margin-top: 5px;
    color: blue;
    font-family: 'Fredoka', sans-serif;
}

.image {
    height: 430px;
    width: auto;
}