


.clothesCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  padding: 2rem 2rem;
  transition: transform 0.3s ease-in-out; // Increased duration
  transform: translate3d(0, 0, 0);
 

  &:hover {
     transform: scale(1.1);
     
   
 }

//  @media(max-width: 676px) {
//   border: 2px solid black;
//  }
}

.name {
    font-family: 'Fredoka', sans-serif;
    color: black !important;
    margin-top: 4px;
}

.price {
    margin-top: 5px;
    color: rgb(65, 129, 247);
    font-family: 'Fredoka', sans-serif;
    border: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 20px;
}

.image {
    height: 330px;
    width: auto;
    padding: 10px;
   mix-blend-mode: color-burn;


}

@media(max-width: 676px) {
  .image {
     height: 250px;
   
  }

}

.shopBtn {
padding: 0.5rem;
border-radius: 20px;
border: 2px solid black;
margin-left: 5px;
background-color: white;
color:rgb(65, 129, 247);

}

.priceContainer {
  display: flex;
  flex-direction: row;
 
  
}