



.clothingSection {
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 350px;
    
}

  .heading {
     text-align: center;
     width: 100%;
}



