
.PantsAreaSection {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 70vh;
    padding: 1rem 1rem;
}

.PantsAreaContainer {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
}


.clothingItem {
    width: calc(25% - 10px); /* Adjust the 10px for margins as needed */
    margin: 5px; /* Half of the subtracted value to ensure spacing */
}

.PantsHeading {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: black;
    font-family: 'Fredoka', sans-serif;
}

.span {
color: rgb(137, 121, 242);
}

@media(max-width: 676px) {
    .PantsAreaSection {
        height: 100%;
    }
}
